body {
    background-color: #FFF3C7;
}

h1 {
    font-size: 50px;
    color: #F7418F;

}


.main-heading{
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #fc53a7;
}

li,p {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 25px;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 32px;
    font-weight: bold;
    margin: auto;
    padding: 10px;

}
a:visited,
a:link {
    color: #FC819E;
    text-decoration: none;
}

a:hover {
    color: #F7418F;
}

.button {
    background-color: #FFF3C7;
    padding: 50px 70px;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #F7418F;
    flex: 1 0 21%;
}

.button:hover {
    background-color: #FEC7B4;
    color: #F7418F;
}
table,
td,
th {
    border-collapse: collapse;
    border: 3px solid;
}

td {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

th {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
